<h3 style="color:grey; text-align:left;">About you</h3>
<div class="panel panel-default">
  <div class="panel-body">

      <!-- <form class="form-horizontal"> -->
     <form ng-submit="vm.editDetailsAboutUser()">
          <div class="form-group">
                <textarea class="form-control" ng-model='vm.detailsAboutUser' rows="3" style="resize:none; border:none; width:100% !important" placeholder="Write some details about you"></textarea>
          </div>
            <div style="text-align:right;">
                <input type="submit" class='btn btn-primary saveChanges' value="Save Changes"></button>
                <button type="button" class='btn btn-default'>Cancel</button>
            </div>
      </form>
  </div>

  <!-- <div class="panel-footer" style="text-align:right;">
      <input type="submit" class='btn btn-primary saveChanges' value="Save Changes"></button>
      <button type="button" class='btn btn-default'>Cancel</button>
  </div> -->

</div>
