<h3 style="color:grey; text-align:left;">About you</h3>
<div class="panel panel-default">
  <div class="panel-body">
      <form class="" action="index.html" method="post">

      </form>
      <form class="form-horizontal">
          <div class="form-group">
                <textarea class="form-control" rows="3" style="resize:none; border:none; width:100% !important" placeholder="What's on your mind"></textarea>
            </div>
        </form>
  </div>
  <div class="panel-footer" style="text-align:right;">
      <button type="button"class='btn btn-primary saveChanges'>Save Changes</button>
      <button type="button"class='btn btn-default'>Cancel</button>

  </div>
</div>
