<div class="fluid-container">
  <div class="row">
    <div class="col-sm-2">
      One of three columns
    </div>
    <div class="col-sm-7">
        <a href="#"><div class="profileBar" ></div></a>

        <div class="child">
            <a href="#"><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTtyJLuYzBzB8x74E2WX8xsZhcbt3tavq8IZd6Yc0l00bcKY1S9" position='relative' alt="profile"/></a>
            <ul class="nav nav-tabs child" style="font-size:20px">
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li class="active"><a href="/timeline">Timeline</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Friends(how many frinds you have)</a></li>
                <li><a href="#">Photos</a></li>
                <li><a href="#">More</a></li>
            </ul>
            <br>

                <div class="row">
                    <div class="col-sm-4">
                      One of three columns
                      

                    </div>
                    <div class="col-sm-1">
                      One of three columns
                    </div>
                    <div class="col-sm-7">
                      One of three columns
                    </div>

                </div>



        </div>

    </div>
    <div class="col-sm-1">
      One of three columns
    </div>
    <div class="col-sm-2" style="backgroud-color:'black' ">
      One of three columns
    </div>
  </div>
</div>
