<style>
     { margin: 0; padding: 0; box-sizing: border-box; }
     body { font: 13px Helvetica, Arial; }
     form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
     form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
     form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
     #messages { list-style-type: none; margin: 0; padding: 0; }
     #messages li { padding: 5px 10px; }
     #messages li:nth-child(odd) { background: #eee; }
   </style>


<div class="container">
</div>

<ul id="messages"></ul>
   <form action="">
     <input id="m" autocomplete="on" /><button>Send</button>
   </form>
<br>


<script type="text/javascript">
        var socket = io.connect('http://localhost:8080');
<!-- <div class="container">
</div> -->

<!-- <ul id="messages"></ul> -->
<!-- <ul>

        {{vm.userAccount.firstname}} syas: <div id="messages"></div>

</ul>
   <form action="">
     <input id="m" autocomplete="on" /><button>Send</button>
   </form>
<br> -->

<div class="container">
    {{vm.message}}
    <ul ng-repeat='msg in vm.messages'>

            {{vm.userAccount.firstname}} syas: {{msg}}

    </ul>
       <form ng-submit="vm.snedMes(msg)">
         <input id="m" autocomplete="on"  ng-model='vm.msg'/>
         <input type="submit" value="send"></input>
       </form>
    <br>
</div>

<!-- <script type="text/javascript">
        var socket = io.connect('http://localhost:3000');
        var $messages = $('#messages');
        // socket.broadcast.to(username).emit('chat message', $('#m').val());
        $('form').submit(function(e){
            e.preventDefault();
            socket.emit('chat message', $('#m').val());
            $('#m').val('');
             return false;
        });
        socket.on('new message', function(msg){
            $messages.append('<li>' + msg.msg + '</li>');
        });

</script>
</script>
