<div class="container">
    <table class="table table-striped table-hover">
        <thead >
            <th>From</th> <th>Title</th> <th>Date</th>
        </thead>
        <tr class="warning" ng-click="vm.getMessageDetails(vm.messages._id)"ng-repeat="m in vm.messages">
            <div class="container-fluid" ng-click="vm.getMessageDetails(m._id)">
                <td>{{m.userRecieve.firstname}}</td> <td>{{m.title}}</td><td>{{m.timeCreate | timeAgo}}</td>
            </div>
        </tr>

    </table>
</div>
