<div class="container">
    <div class="row">
        <h3>{{vm.message.title}}</h3>
        <hr>
    </div>
    <div class="col-md-1">
        <img src="http://istc-pc-test-media.cs.washington.edu/images/default-profile-pic.png" width="50px"/>
    </div>
    <div class="col-md-11" >
        <p>
            <strong>From:</strong> {{vm.message.userSend.username}}
        </p>
        <p>
            <strong>Sent:</strong> <time-ago from-time='{{vm.message.timeCreate}}'></time-ago>
        </p>
        <br>
        <p>
            {{vm.message.message}}
        </p>
        <br>
        <p>
            -{{vm.message.userSend.firstname}}
        </p>
        <hr>
        <form ng-submit="vm.saveComment(vm.message._id)">
            <div class="col-md-12" ng-repeat="c in vm.message.comments">
                <p>
                    <strong>From: </strong>
                </p>
                <p>
                    <strong>Send:</strong>
                </p>
                <p>
                {{c.message}}
                </p>
                <p>
                    -{{c.userSend.firstnam}}
                </p>
                <hr>
            </div>
            <div class="form-group">
                <textarea class='form-control' rows="8" cols="40" ng-model='vm.comment.message'></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-sm" name="button">Reply</button>
            </div>
        </form>
    </div>
</div>
