<!DOCTYPE html>
<html ng-app="ccalummiwebsite">

<head>
    <title>ccalummiwebsite</title>
    <meta charset="utf-8">
    <base href="/" />
    <script src="/bower_components/tether/dist/js/tether.min.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/ngApp/css/site.css"/>

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/united/bootstrap.min.css" rel="stylesheet" integrity="sha384-pVJelSCJ58Og1XDc2E95RVYHZDPb9AVyXsI8NoVpB2xmtxoZKJePbMfE4mlXw7BJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/c219aebcb3.js"></script>
    <script type="text/javascript" ssrc="//api.filepicker.io/v2/filepicker.js"></script>

</head>

<body>
    <div class="container-fluid container-main">
        <nav class="navbar navbar-default ">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">CCA</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="navbarController as vm">
                    <ul class="nav navbar-nav">
                        <li class="active" ng-show="!vm.getUsername()"><a href="/login">Register <span class="sr-only">(current)</span></a></li>
                        <li><a href="/account" ng-show="vm.getUsername()">Account</a></li>
                        <li><a href="/inbox" ng-show="vm.getUsername()">Inbox</a></li>
                        <li><a href="/chat">Chat Room</a></li>
                        <li><a href="/doublechat" ng-show="vm.getUsername()">Double Chat</a></li>

                        </ul>
                    <div ng-controller="navbarController as vm" ng-show="!vm.getUsername()">
                        <form class="navbar-form navbar-right" role="search" ng-submit="vm.login()" id="loginForm">
                            <div class="form-group">
                                <div class="col-md-6">

                                    <h6 class="loginText">
                                        Email
                                    </h6>
                                    <input type="text" class="form-control" placeholder="Email" ng-model="vm.loginInfo.username">
                                    <h6 class="forgotEmail">F</h6>

                                </div>
                            </div>
                            <div class="form-group">
                                    <h6 class="loginText">
                                        Password
                                    </h6>
                                    <input type="password" class="form-control" placeholder="Password" name="name" value="" ng-model="vm.loginInfo.password">
                                    <h6 class="forgotLogin">Forgot Password?</h6>
                            </div>
                                <button type="submit" class="btn btn-primary btn-sm">Login</button>
                        </form>
                    </div>
                    <div ng-controller="navbarController as vm" ng-show="vm.getUsername()" >
                        <ul class="nav navbar-nav navbar-right" id="accountLogout">
                            <button type="button" name="Acount" class="btn btn-primary btn-md" ng-click="vm.gotoAccount()">
                                <i class="fa fa-user" aria-hidden="true"></i>.  {{vm.firstname}}
                            </button>
                            <button type="button" name="logout" class="btn btn-primary btn-md" ng-click="vm.logout()">Logout</button>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <ui-view></ui-view>
  </div>
  <hr>
  <div class="footer" style="text-align:center">
      <h2>footer :</h2>
  </div>
  <script src='http://code.jquery.com/jquery-latest.min.js'></script>
  <script src="/socket.io/socket.io.js"></script>

  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="//api.filepicker.io/v2/filepicker.js"></script>

  <script src="/bower_components/angular/angular.min.js"></script>
  <script src='/bower_components/angular-filepicker/dist/angular_filepicker.min.js'></script>

  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="/bower_components/angular-touch/angular-touch.min.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="/bower_components/angular-timeago/dist/angular-timeago.js" charset="utf-8"></script>

  <script src="/ngApp/app.js"></script>
  <!-- controllers -->
  <script src="/ngApp/controllers/controllers.js"></script>
  <script src="/ngApp/controllers/loginController.js" charset="utf-8"></script>
  <script src="/ngApp/controllers/navbarController.js" charset="utf-8"></script>
  <script src="/ngApp/controllers/accountController.js" charset="utf-8"></script>
  <script src="/ngApp/controllers/messageController.js" charset="utf-8"></script>
  <script src="/ngApp/controllers/activityController.js" charset="utf-8"></script>
  <script src="/ngApp/controllers/commentController.js" charset="utf-8"></script>
  <!-- services -->
  <script src="/ngApp/services/loginService.js"></script>
  <script src="/ngApp/services/services.js"></script>
  <script src="/ngApp/services/accountService.js" charset="utf-8"></script>
  <script src="/ngApp/services/messageService.js" charset="utf-8"></script>
  <script src="/ngApp/services/userService.js" charset="utf-8"></script>
  <script src="ngApp/services/activityService.js" charset="utf-8"></script>

  </script>



  <!-- <script>
      $(function () {
           $("[rel='tooltip']").tooltip()
    });
  </script> -->
</body>

</html>
