<div class="container">
    <div class="row">
        <div class="progress">
            <div class=" progress-bar"  id='step11' style="width:33%; font-size:21px !important; padding-top: 14px !important">
                <a href="#" ui-sref='ask.step1' id='step1' style="text-decoration:none;"><font color="white">Step1: Throw your problem</font></a>
            </div>
            <div class="progress-bar" id='step22' style="width:33%;font-size:21px !important; padding-top: 14px !important; ">
                <a  href="#" ui-sref='ask.step2' style="text-decoration:none; color:white;" id='step2'>Step2: Add tags</a>
                <!-- <font id='step2' color='white' > </font>-->
            </div>
            <div class="progress-bar" id='step33' role="progressbar" style="width:34%; font-size:21px !important;padding-top: 14px !important">
                <a  href="#"  ui-sref='ask.step3' style="text-decoration:none; color:white;" id='step3'>Step3: Preview</a>
            </div>
        </div>


        <div class="container">
            <ui-view>
        </div>
            <div class="col-sm-2" id='test'>

            </div>
    </div>
</div>
