<div class="container">
    <div class="row">
        {{vm.message}}
        <div class="col-sm-8" style="padding-right:10px" >
                <div class="row" ng-repeat="question in vm.questions | orderBy:'-timeCreate'">
                    <div class="col-lg-1" style="padding-top:10px; text-align:center;">
                        <a href="#" style="text-decoration:none" ng-click='vm.vote()'><p style="">
                            {{question.voteCount}}</a>
                        </p>
                        <a href="#" style="text-decoration:none" ng-click='vm.vote()'><p>
                            votes
                        </p></a>
                    </div>
                    <div class="col-lg-1" style=" padding-top:10px; text-align:center;">
                        <a href="#" style="text-decoration:none"><p style="text-align=center;">
                            {{question.answerCount}}
                        </p></a>
                        <a href="#" style="text-decoration:none"><p>
                            answers
                        </p></a>
                    </div>

                    <div class="col-lg-10" style="">
                        <h4><a href="#">{{question.title}}</a></h4>
                        <div style="clear: both;">
                            <p>
                                <div class="">
                                    <a href="/taggedQuestion" style="text-decoration:none"><span class="label label-info"  ng-repeat='tag in question.tags' style="margin-right:5px"> {{tag.item}} </span></a>

                                </div>
                                <span style="float:right;">asked by {{question.user}} at {{question.timeCreate}}</span>
                            </p>
                        </div>
                    </div>
                    <hr class='style18'>
            </div>
        </div>
    <div class="col-sm-4" style="padding-left:10px;">

    </div>
    </div>
</div>
