.loginText {
    color: white;
}

.forgotLogin {
    color: lightgrey;
}

.forgotEmail {
    color: #d34615;
}

.col-sm-4 {
    background-color:green ;
}

.col-sm-6 {
    background-color:lightyellow ;
}

.profileBar{
background:#1d2129;
  width:auto;
  height:200px;
  overflow:hidden;
}
.child{
/*background:#ffffff;*/
  /*width:500px;
  height:100px;*/
  position:relative;
}
.child img{
position:absolute;
  bottom:166px;
  right:86%;
  width:150px;
  height:150px;
}
.glyphicon.glyphicon-camera {
    font-size: 23px;
}
.glyphicon.glyphicon-calendar {
    font-size: 23px;

}
.panel-footer a{
  padding:10px;
}
:placeholder-shown {
    font-size: 125px;
}
