<!-- <h2>hello from about</h2>
<p>
    {{vm.message}}
</p> -->
<br>
<div class="panel panel-default">
  <div class="panel-heading"><h2>About</h2></div>
  <div class="panel-body test">
         <div class="row grid-divider ">
             <div class="col-sm-4 left" style="text-align:left">
                 <div class="test1">
                     <a ui-sref="account.about.detailEdit"><p>Details about you</p></a>
                     <a ui-sref="account.about.editworkandeducation"><p>work and education</p></a>
                     <a href="#"><p>Contact and basic info</p></a>
                     <a href="#"><p>Places you'v lived</a></p>
                 </div>


             </div>

             <div class="col-sm-8">
                 <div class="container-fluid aboutYou">
                     <ui-view>
                 </div>

             </div>


         </div>
     </div>

  </div>
</div>
